body {
    margin: 0;
    overflow: hidden;
}

#game {
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    height: 480px;
    font-family: Geo;
    font-size: 40px;
    width: 8em;
    height: 12em;
    color: rgb(200,200,100);
    background-color: rgb(60,60,40);
    background-size: 10px 10px;
    background-image:
        linear-gradient(
            45deg, transparent 0%, rgb(20,20,20) 25%,
            transparent 50%, rgb(20,20,20) 75%, transparent 100%
        ),
        linear-gradient(
            -45deg, transparent 0%, rgb(20,20,20) 25%,
            transparent 50%, rgb(20,20,20) 75%, transparent 100%
        );
}

#game .screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}

#game .screen.active {
    display: block;
}

#splash-screen {
    text-align: center;
    padding-top: 2.5em;
}

#splash-screen .continue {
    cursor: pointer;
    font-size: 0.75em;
}

.logo {
    font-family: Marker;
    font-size: 1.5em;
    line-height: 0.9em;
    margin: 0;
    text-align: center;
    color: rgb(120,20,20);
    text-shadow: 0.03em 0.03em 2px rgb(255,255,0),
        -0.03em -0.03em 2px rgb(255,255,0),
        0.10em 0.15em 0.15em rgb(0,0,0);
}
